<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_9bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1474},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_9bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1511},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>common_9bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1419},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_9bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1327},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_9bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,1398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,1398}}</string>
                <key>sourceSize</key>
                <string>{90,1398}</string>
            </dict>
            <key>common_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1382},{79,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>common_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,763},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1474},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>common_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,646},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>common_gird_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>common_gird_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1041},{174,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{174,142}}</string>
                <key>sourceSize</key>
                <string>{174,162}</string>
            </dict>
            <key>common_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1217},{255,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,57}}</string>
                <key>sourceSize</key>
                <string>{255,57}</string>
            </dict>
            <key>common_item_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,808},{231,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,216}}</string>
                <key>sourceSize</key>
                <string>{231,216}</string>
            </dict>
            <key>common_item_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,708},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>common_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{642,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{642,58}}</string>
                <key>sourceSize</key>
                <string>{642,60}</string>
            </dict>
            <key>common_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1041},{339,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{339,58}}</string>
                <key>sourceSize</key>
                <string>{339,60}</string>
            </dict>
            <key>common_notice_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,763},{163,594}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{163,594}}</string>
                <key>sourceSize</key>
                <string>{195,624}</string>
            </dict>
            <key>common_notice_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{210,759}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,759}}</string>
                <key>sourceSize</key>
                <string>{210,759}</string>
            </dict>
            <key>common_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{804,129}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{804,129}}</string>
                <key>sourceSize</key>
                <string>{816,129}</string>
            </dict>
            <key>common_toast_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1217},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_toast_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1382},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>common_toast_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1511},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{499,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8442d7b4399b546cd352b59fc1bdf31c$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
