<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{296,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,80}}</string>
                <key>sourceSize</key>
                <string>{296,80}</string>
            </dict>
            <key>end_btn_openall.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,320},{236,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>end_btn_openone.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,320},{236,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>hoem_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,320},{170,141}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{170,141}}</string>
                <key>sourceSize</key>
                <string>{176,153}</string>
            </dict>
            <key>hoem_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,494},{170,149}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{170,149}}</string>
                <key>sourceSize</key>
                <string>{176,153}</string>
            </dict>
            <key>hoem_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,320},{172,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{172,149}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>home_com_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,320},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>home_com_item_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,558},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>home_voice_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,494},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>home_voice_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,494},{40,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rank_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>rank_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,618},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,64}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>rank_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,610},{74,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,62}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>rank_itembg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{682,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,104}}</string>
                <key>sourceSize</key>
                <string>{682,104}</string>
            </dict>
            <key>rank_itembg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{682,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,104}}</string>
                <key>sourceSize</key>
                <string>{682,104}</string>
            </dict>
            <key>rank_itembg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{682,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,104}}</string>
                <key>sourceSize</key>
                <string>{682,104}</string>
            </dict>
            <key>rank_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,558},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>rank_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,558},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>rank_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,558},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home.png</string>
            <key>size</key>
            <string>{686,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5d5e4cdfbfe627a9377fd4893403591$</string>
            <key>textureFileName</key>
            <string>Home.png</string>
        </dict>
    </dict>
</plist>
