<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add2500_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1381},{409,282}}</string>
                <key>offset</key>
                <string>{-38,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,193},{409,282}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1381},{409,282}}</string>
                <key>offset</key>
                <string>{-38,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,193},{409,282}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,348}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,174},{509,348}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,348}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,174},{509,348}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{451,302}}</string>
                <key>offset</key>
                <string>{-40,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,177},{451,302}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{351,254}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,206},{351,254}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{351,254}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,206},{351,254}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{357,238}}</string>
                <key>offset</key>
                <string>{23,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,230},{357,238}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{343,252}}</string>
                <key>offset</key>
                <string>{32,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,217},{343,252}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{343,252}}</string>
                <key>offset</key>
                <string>{32,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,217},{343,252}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1383},{399,256}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,215},{399,256}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1383},{399,256}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,215},{399,256}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{395,216}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,252},{395,216}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1461},{417,312}}</string>
                <key>offset</key>
                <string>{8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,174},{417,312}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1461},{417,312}}</string>
                <key>offset</key>
                <string>{8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,174},{417,312}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,481},{461,414}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,167},{461,414}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{477,380}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,212},{477,380}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{477,380}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,212},{477,380}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{477,382}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,216},{477,382}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{477,382}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,216},{477,382}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,455},{433,388}}</string>
                <key>offset</key>
                <string>{51,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,212},{433,388}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,890},{339,394}}</string>
                <key>offset</key>
                <string>{102,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,209},{339,394}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,890},{339,394}}</string>
                <key>offset</key>
                <string>{102,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,209},{339,394}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add2500_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,495},{1,1}}</string>
                <key>offset</key>
                <string>{-375,379.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,495},{1,1}}</string>
                <key>offset</key>
                <string>{-375,379.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,874},{339,304}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,223},{339,304}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,874},{339,304}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,223},{339,304}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{467,390}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,197},{467,390}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{467,390}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,197},{467,390}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,944},{437,382}}</string>
                <key>offset</key>
                <string>{42,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,186},{437,382}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,944},{437,382}}</string>
                <key>offset</key>
                <string>{42,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,186},{437,382}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,944},{435,392}}</string>
                <key>offset</key>
                <string>{41,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,178},{435,392}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,944},{435,392}}</string>
                <key>offset</key>
                <string>{41,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,178},{435,392}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,399},{361,374}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,192},{361,374}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,399},{361,374}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,192},{361,374}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1455},{333,352}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,196},{333,352}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1455},{333,352}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,196},{333,352}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,565},{307,300}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,244},{307,300}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,565},{307,300}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,244},{307,300}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>add500_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,495},{1,1}}</string>
                <key>offset</key>
                <string>{-375,379.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{751,760}</string>
            </dict>
            <key>addClick_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1383},{56,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,126},{56,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1383},{78,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,115},{78,70}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1286},{98,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,106},{98,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,775},{122,106}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,98},{122,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1434},{144,124}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,89},{144,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1286},{170,146}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,78},{170,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,355},{194,166}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{194,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,523},{218,184}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,57},{218,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1243},{240,204}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{240,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1009},{232,224}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{232,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,775},{232,224}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{232,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1449},{238,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{238,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1560},{238,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{238,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1485},{242,232}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{242,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1215},{242,232}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{242,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,347},{248,216}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{248,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,495},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>addClick_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,481},{12,10}}</string>
                <key>offset</key>
                <string>{-69,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,69},{12,10}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_001.png</string>
            <key>size</key>
            <string>{2045,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09c2a44f191d06326371a42c7b9c665$</string>
            <key>textureFileName</key>
            <string>ani_001.png</string>
        </dict>
    </dict>
</plist>
