<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,518},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,518},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{323,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{323,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{323,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{323,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{299,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{299,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{299,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{299,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,174},{321,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{321,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,174},{321,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{321,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,174},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,174},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,346},{319,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{319,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,346},{319,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{319,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{325,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{325,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{325,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{325,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,346},{325,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{325,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,346},{325,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{325,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,518},{307,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{307,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,518},{307,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{307,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>light_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{303,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_003.png</string>
            <key>size</key>
            <string>{955,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5349d7cd8b044ae4b1c6049194481986$</string>
            <key>textureFileName</key>
            <string>ani_003.png</string>
        </dict>
    </dict>
</plist>
