<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add5000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,626},{254,212}}</string>
                <key>offset</key>
                <string>{129,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,239},{254,212}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1114},{252,222}}</string>
                <key>offset</key>
                <string>{130,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,240},{252,222}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1252},{398,210}}</string>
                <key>offset</key>
                <string>{56,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,256},{398,210}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{484,332}}</string>
                <key>offset</key>
                <string>{9,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,134},{484,332}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{486,332}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,134},{486,332}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,826},{424,392}}</string>
                <key>offset</key>
                <string>{-36,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,136},{424,392}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{448,392}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,149},{448,392}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{436,376}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,165},{436,376}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,428}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,164},{466,428}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,282},{342,422}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,172},{342,422}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1022},{360,352}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,186},{360,352}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,710},{404,310}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,240},{404,310}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,380},{412,328}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,246},{412,328}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1464},{410,304}}</string>
                <key>offset</key>
                <string>{-18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,268},{410,304}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{454,304}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,239},{454,304}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{436,278}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,242},{436,278}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,710},{402,304}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,224},{402,304}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>add5000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,336},{422,288}}</string>
                <key>offset</key>
                <string>{47,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,213},{422,288}}</string>
                <key>sourceSize</key>
                <string>{750,760}</string>
            </dict>
            <key>hpbar_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1720},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1758},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1796},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1796},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1796},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1796},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1758},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1720},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1322},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1340},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1682},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1644},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1606},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1568},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1530},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1492},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1454},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1416},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1378},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1340},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1338},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1338},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1338},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1338},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1338},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1338},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1370},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1376},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,974},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,974},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,626},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,626},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,626},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1302},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1264},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1226},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1188},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,840},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1756},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1718},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1680},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1642},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1604},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1566},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1528},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1490},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1452},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,664},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,626},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1414},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1376},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>hpbar_083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1022},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_002.png</string>
            <key>size</key>
            <string>{1834,1834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6484038677101b72fbc7e76f5ef45bef$</string>
            <key>textureFileName</key>
            <string>ani_002.png</string>
        </dict>
    </dict>
</plist>
