<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>End/end_btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,336},{236,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>End/end_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,479},{172,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{172,149}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>End/end_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{332,252}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{332,252}}</string>
                <key>sourceSize</key>
                <string>{348,252}</string>
            </dict>
            <key>End/end_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,614},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>End/end_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,614},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>End/end_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,418},{193,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,59}}</string>
                <key>sourceSize</key>
                <string>{197,63}</string>
            </dict>
            <key>End/end_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,438},{174,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{174,55}}</string>
                <key>sourceSize</key>
                <string>{178,59}</string>
            </dict>
            <key>RewardPrice/rewardprice_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,674},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>RewardPrice/rewardprice_9line.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,336},{2,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,100}}</string>
                <key>sourceSize</key>
                <string>{2,100}</string>
            </dict>
            <key>RewardPrice/rewardprice_9line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,336},{100,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,2}}</string>
                <key>sourceSize</key>
                <string>{100,2}</string>
            </dict>
            <key>RewardPrice/rewardprice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,832}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{658,832}}</string>
                <key>sourceSize</key>
                <string>{750,832}</string>
            </dict>
            <key>RewardPrice/rewardprice_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,630},{148,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>RewardPrice/rewardprice_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,674},{147,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,42}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>End.png</string>
            <key>size</key>
            <string>{916,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7630eb158b045baf3fbd8d972cb639f4$</string>
            <key>textureFileName</key>
            <string>End.png</string>
        </dict>
    </dict>
</plist>
