<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,210},{148,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,41}}</string>
                <key>sourceSize</key>
                <string>{150,43}</string>
            </dict>
            <key>hoem_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,494},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hoem_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,108},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hoem_btn2500.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,312},{100,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hoem_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{102,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hoem_btn500.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,210},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hoem_btn5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,372},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,120}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>hoem_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{160,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,42}}</string>
                <key>sourceSize</key>
                <string>{160,42}</string>
            </dict>
            <key>home_addbet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,538},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>home_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,134},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>home_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,408},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,64}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>home_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,474},{74,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,62}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>home_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,538},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>home_com_nan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{192,174}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{192,174}}</string>
                <key>sourceSize</key>
                <string>{198,184}</string>
            </dict>
            <key>home_hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{384,48}}</string>
                <key>sourceSize</key>
                <string>{386,48}</string>
            </dict>
            <key>home_hp_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>home_hp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{352,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{352,42}}</string>
                <key>sourceSize</key>
                <string>{354,44}</string>
            </dict>
            <key>home_hp_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,210},{334,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{334,26}}</string>
                <key>sourceSize</key>
                <string>{338,30}</string>
            </dict>
            <key>home_wait_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,392},{217,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{217,59}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>nan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{296,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,80}}</string>
                <key>sourceSize</key>
                <string>{296,80}</string>
            </dict>
            <key>nan_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{172,192}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{172,192}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>nan_pomoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,216},{121,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,154}}</string>
                <key>sourceSize</key>
                <string>{121,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HomeCom.png</string>
            <key>size</key>
            <string>{492,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2500e0c2a5a3f85ff8da4d2f47334c04$</string>
            <key>textureFileName</key>
            <string>HomeCom.png</string>
        </dict>
    </dict>
</plist>
