<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,404},{516,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{516,24}}</string>
                <key>sourceSize</key>
                <string>{520,28}</string>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{520,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,28}}</string>
                <key>sourceSize</key>
                <string>{520,28}</string>
            </dict>
            <key>loading_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,855},{124,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{124,48}</string>
            </dict>
            <key>login_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,332},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>login_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,905},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>login_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,727},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>login_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{328,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{328,134}}</string>
                <key>sourceSize</key>
                <string>{328,136}</string>
            </dict>
            <key>login_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,404},{321,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{321,170}}</string>
                <key>sourceSize</key>
                <string>{325,170}</string>
            </dict>
            <key>login_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,727},{114,176}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{114,176}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>login_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,727},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>login_item_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,678},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>login_start_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{400,194}}</string>
                <key>sourceSize</key>
                <string>{420,212}</string>
            </dict>
            <key>login_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,332},{344,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{344,106}}</string>
                <key>sourceSize</key>
                <string>{348,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{342,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b386dc3dcc5dd2bc8cb21fb79429c4$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
