<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,117},{14,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{14,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>rank_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rank_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,66}}</string>
                <key>sourceSize</key>
                <string>{178,68}</string>
            </dict>
            <key>rank_detial_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{160,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,39}}</string>
                <key>sourceSize</key>
                <string>{160,39}</string>
            </dict>
            <key>rank_headicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,273},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rank_headkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,211},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{125,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,45}}</string>
                <key>sourceSize</key>
                <string>{127,47}</string>
            </dict>
            <key>rank_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,335},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>rank_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,335},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>rank_txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,182},{82,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,27}}</string>
                <key>sourceSize</key>
                <string>{82,27}</string>
            </dict>
            <key>rank_uncheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,66}}</string>
                <key>sourceSize</key>
                <string>{178,68}</string>
            </dict>
            <key>record_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,211},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{163,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{163,45}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rank.png</string>
            <key>size</key>
            <string>{254,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2050a83cb31d6760f20aa78a40123d73$</string>
            <key>textureFileName</key>
            <string>Rank.png</string>
        </dict>
    </dict>
</plist>
