<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,152}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{676,152}}</string>
                <key>sourceSize</key>
                <string>{698,166}</string>
            </dict>
            <key>hoem_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,558},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>hoem_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,469},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>hoem_btn2500.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,427},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>hoem_btn2500_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>hoem_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,582},{102,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hoem_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,558},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>hoem_btn500.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,306},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hoem_btn5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,306},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>hoem_btn5000_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>hoem_btn500_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,642},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>hoem_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,298},{202,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,61}}</string>
                <key>sourceSize</key>
                <string>{202,61}</string>
            </dict>
            <key>home_addbet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,683},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>home_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,642},{74,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,547},{68,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{68,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,403},{64,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,298},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>home_com_nan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,522},{170,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{170,196}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>home_hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{384,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{384,48}}</string>
                <key>sourceSize</key>
                <string>{386,48}</string>
            </dict>
            <key>home_hp_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{346,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,36}}</string>
                <key>sourceSize</key>
                <string>{346,36}</string>
            </dict>
            <key>home_hp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{352,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{352,42}}</string>
                <key>sourceSize</key>
                <string>{354,44}</string>
            </dict>
            <key>home_hp_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,348},{334,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{334,26}}</string>
                <key>sourceSize</key>
                <string>{338,30}</string>
            </dict>
            <key>home_more_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,631},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>home_more_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,298},{196,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,1}}</string>
                <key>sourceSize</key>
                <string>{196,1}</string>
            </dict>
            <key>home_more_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,688},{158,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{158,28}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>home_more_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,528},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{160,28}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>home_more_txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,120},{160,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{160,28}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>home_wait_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,348},{232,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{232,75}}</string>
                <key>sourceSize</key>
                <string>{238,79}</string>
            </dict>
            <key>nan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{338,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,90}}</string>
                <key>sourceSize</key>
                <string>{338,90}</string>
            </dict>
            <key>nan_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{180,200}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{180,200}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>nan_pomoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,156},{128,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>nan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{564,140}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{564,140}}</string>
                <key>sourceSize</key>
                <string>{574,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HomeCom.png</string>
            <key>size</key>
            <string>{745,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22a4693b7f126e6c1ec031052bf32c13$</string>
            <key>textureFileName</key>
            <string>HomeCom.png</string>
        </dict>
    </dict>
</plist>
