<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hoem_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,40},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>hoem_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,171},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>hoem_btn2500.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,34},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>hoem_btn2500_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,288},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>hoem_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,171},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>hoem_btn500.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,320},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hoem_btn5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,135},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>hoem_btn5000_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,256},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>hoem_btn500_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>hoem_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,40},{200,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,59}}</string>
                <key>sourceSize</key>
                <string>{202,61}</string>
            </dict>
            <key>home_addbet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,417},{172,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,68}}</string>
                <key>sourceSize</key>
                <string>{172,68}</string>
            </dict>
            <key>home_addbet_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,101},{188,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,68}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>home_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,171},{74,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,417},{66,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{66,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{64,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>home_hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,124},{358,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,44}}</string>
                <key>sourceSize</key>
                <string>{358,44}</string>
            </dict>
            <key>home_hp_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{346,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{346,32}}</string>
                <key>sourceSize</key>
                <string>{358,44}</string>
            </dict>
            <key>home_hp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,128},{352,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{352,38}}</string>
                <key>sourceSize</key>
                <string>{358,44}</string>
            </dict>
            <key>home_hp_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,36}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{370,36}}</string>
                <key>sourceSize</key>
                <string>{374,48}</string>
            </dict>
            <key>home_more_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,345},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>home_more_9bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,158},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>home_more_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{196,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,1}}</string>
                <key>sourceSize</key>
                <string>{196,1}</string>
            </dict>
            <key>home_more_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,315},{158,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{158,28}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>home_more_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,285},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{160,28}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>home_more_txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,255},{160,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{160,28}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>home_score9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,345},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>home_voice_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,320},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{38,30}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>home_voice_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,360},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{36,30}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>home_wait_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,256},{228,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{228,71}}</string>
                <key>sourceSize</key>
                <string>{238,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HomeCom.png</string>
            <key>size</key>
            <string>{487,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9db42648664c44b3456c5e0e8d5a5526$</string>
            <key>textureFileName</key>
            <string>HomeCom.png</string>
        </dict>
    </dict>
</plist>
