<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,86},{262,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{262,88}}</string>
                <key>sourceSize</key>
                <string>{264,90}</string>
            </dict>
            <key>rank_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{262,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{262,88}}</string>
                <key>sourceSize</key>
                <string>{264,90}</string>
            </dict>
            <key>rank_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,108},{74,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rank_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,184},{66,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{66,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rank_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{64,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rank_itembg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{686,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{686,26}}</string>
                <key>sourceSize</key>
                <string>{690,30}</string>
            </dict>
            <key>rank_itembg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{686,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{686,26}}</string>
                <key>sourceSize</key>
                <string>{690,30}</string>
            </dict>
            <key>rank_itembg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{686,26}}</string>
                <key>sourceSize</key>
                <string>{690,30}</string>
            </dict>
            <key>rank_itembg_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>rank_itembg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,86},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>rank_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,86},{58,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rank_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,146},{56,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rank_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,186},{50,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{211,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{211,76}}</string>
                <key>sourceSize</key>
                <string>{211,88}</string>
            </dict>
            <key>rank_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,192},{76,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>rank_txt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,90},{76,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>rank_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,204},{74,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
            <key>rank_txt2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,108},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
            <key>record_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,86},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>record_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,192},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,176},{275,71}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{275,71}}</string>
                <key>sourceSize</key>
                <string>{277,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rank.png</string>
            <key>size</key>
            <string>{862,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c345fe18c6e4c2407af2165a1fe9f595$</string>
            <key>textureFileName</key>
            <string>Rank.png</string>
        </dict>
    </dict>
</plist>
