<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rewardprice_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>rewardprice_9line.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,58},{2,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,50}}</string>
                <key>sourceSize</key>
                <string>{2,50}</string>
            </dict>
            <key>rewardprice_9line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,54},{50,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,2}}</string>
                <key>sourceSize</key>
                <string>{50,2}</string>
            </dict>
            <key>rewardprice_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,152}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{676,152}}</string>
                <key>sourceSize</key>
                <string>{698,166}</string>
            </dict>
            <key>rewardprice_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{676,150}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{676,150}}</string>
                <key>sourceSize</key>
                <string>{698,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RewardPrice.png</string>
            <key>size</key>
            <string>{732,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b38d0f879f33c59385334f5acd3e931f$</string>
            <key>textureFileName</key>
            <string>RewardPrice.png</string>
        </dict>
    </dict>
</plist>
